name: PR Size Labeler

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  label-size:
    permissions:
      pull-requests: write
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: codelytv/pr-size-labeler@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          xs_label: 'size/XS'
          xs_max_size: '10'
          s_label: 'size/S'
          s_max_size: '50'
          m_label: 'size/M'
          m_max_size: '200'
          l_label: 'size/L'
          l_max_size: '500'
          xl_label: 'size/XL'
          xl_max_size: '1000'
          xxl_label: 'size/XXL'
          fail_if_xl: 'false'
          files_to_ignore: 'package-lock.json,yarn.lock,dist/**'
